{
    "list": [
        {
            "name": "Rule name to be displayed",
            "path": "directory to check",
            "action": "move|delete|custom:namespace",
            "rules": {
                "regExp": "/.*\\.torrent$/",
                "size": ">10MB",
                "time": {"date" : "5 days ago", "type":  "create|modify|access"},
                "extension": ["jpg", "JPG"]
            },
            "params": {
                "destination": "directory to move files",
                "recursive": false|true,
                "follow-symlinks": false|true
            }
        }
    ]
}

accept all php datetime formats (https://www.php.net/manual/en/datetime.formats.php)
